body {
  color: #666;
  background: #0c0c0c;
  font-size: 16px;
  line-height: 1.6em;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
}
header {
  margin-top: 1%;
}
/*.hero-img {
    max-width: 80%;
}*/
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 100;
  font-style: normal;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #ff8c00;
}
p {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.6em;
  font-weight: 400;
}
a {
  text-decoration: none;
  color: #0383c0;
}
.title h1 {
  margin-top: 1%;
  font-weight: 700;
  font-size: 2em;
}
.hero {
  max-width: 1500px;
  margin: auto;
}
section {
  margin-top: 1%;
}
.principles {
  list-style-type: none;
}
footer {
  margin-top: 2%;
}
p.email {
  margin: 2% 0 2% 0;
}
p.social-media {
  margin: 2% 0 2% 0;
}
